
@import '../index/index.scss';

.menu{
    position: fixed;
    z-index: 10000;
    width: 100%;
}

.navbar{
    height: 10vh;
    width: 100%;
    background-color: transparent;
    padding: 0 5% 0 5%;
    transition: .3s;

    &__logo{
        color: rgba(255, 255, 255, 0.432);
        font-weight: 900;
        text-decoration: none;
        width: 100px;
        transition: .3s;
        font-size: 4vh;
        margin-top: -1%;
        margin-left: 2%;

        b{
            color: $branco-puro;
        }
    }
    
    ul{
        display: flex;
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        
        

        li{
            list-style: none;

            a{
                font-weight: 700;
                text-decoration: none;
                color: #fff;
                opacity: .7;
                transition: .8s;

                &:hover{
                    opacity: 1;
                }
            }
        }
    }
    
}

.navbar.sticky{
    background-color: rgba(0, 0, 0, 0.719);
    backdrop-filter: blur( 15px );
    height: 7vh;
    box-shadow: 0px 0px 20px #000;
    transition: .8s;

    ul{

        li{

            a{
                color: rgb(252, 252, 252);
            }
        }
            
    }

}